/* universal selector to define the margin and padding to 0 and box-sizing to border-box. Also, the font-family is set to Montserrat. */
@font-face {
  font-family: Montserrat;
  src: url(Montserrat-Regular.ttf);
}

@font-face {
  font-family: ArialNarrow;
  src: url(arialnarrow.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
/* container for max screen size */
.container {
  max-width: 1320px;
  margin: 0 auto;
}
/* The header is given a background color of #f6f6f6 and the font color is set to #007984. */
header {
  background-color: #f6f6f6;
}
/* navbar containing links, title and signin signup buttons */
.navbar {
  /* relatively positioned */
  position: relative;
  display: flex;
  /* space between to make space between the elements */
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
/* div containing all navlinks */
.navLinks {
  display: flex;
}
/* hamburger button initally display none */
.hamburger {
  display: none;
}
/* Individual link styling */
.indiLink {
  margin-right: 30px;
  color: #007984;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
/* hover effect for links */
.indiLink:hover {
  color: #ffbb0b;
}
/* Aexpert title on the navbar */
.title {
  /* absolutely positioned to the navbar to position in center of page always */
  position: absolute;
  /* moving it 50% from left then translating in x direction to position it to center of page */
  left: 50%;
  transform: translateX(-50%);
  color: #007984;
  font-size: 42px;
}
/* styling of yellow part of aexpert */
.yellow {
  color: #ffbb0b;
}
.signInUp {
  display: flex;
}
/* SignIn SignUp button styling */
.signInUp button {
  padding: 15px 35px;
  color: #007984;
  border: 0px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 20px;
  font-weight: 500;
  background-color: transparent;
}
/* SignIn SignUp button hover effects */
.signInUp button:hover {
  background-color: #007984;
  color: white;
  transition: all 0.4s ease-in;
}
/* The section is given a background color of #f6f6f6 and the font color is set to #007984. */
section {
  margin-bottom: 100px;
  background-color: #f6f6f6;
}
/* mid section containing content, image and individual numbers section */
.wholeMid {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* relatively position to position the numbers div absolutely */
  position: relative;
}
.midSection {
  display: flex;
  width: 100%;
}
/* mid content containing heading, subheading, get started button and list of features */
.midContent {
  /* mid content styling */
  display: flex;
  flex-direction: column;
  /* width of 50% of the mid section */
  width: 50%;
  padding-top: 60px;
  padding-right: 60px;
}
.topOfHeading {
  /* contains yellow line and a text next to that */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.yellowLine {
  /* yellow line styling */
  width: 70px;
  height: 6px;
  background-color: #ffbb0b;
}
.hide {
  display: none;
}
.yellowLineText {
  /* text next to yellow line */
  font-size: 18px;
  font-weight: 550;
  color: #007984;
  margin: 0 20px;
}
.mainHeading {
  /* Main heading styling */
  font-family: ArialNarrow;
  font-weight: 550;
  letter-spacing: -3px;
  text-transform: uppercase;
  font-size: 78px;
}
/* paragraph under the heading styling */
.underHeading {
  font-size: 18px;
  color: #007984;
  margin: 35px 0px;
  font-weight: 450;
}
/* get started button styling */
.getStarted {
  padding: 15px 35px;
  background-color: white;
  color: #007984;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 500;
  width: fit-content;
  margin-bottom: 40px;
  border: 2px solid #007984;
}
/* get started button hover effect */
.getStarted:hover {
  color: white;
  background-color: #007984;
  transition: all 0.4s ease-in;
}
ul {
  /* unordered list */
  display: flex;
  margin-bottom: 20px;
}
/* removing bullet infront of first child */
li:first-child::before {
  content: "";
  margin: 0px;
}
li {
  /* list styling */
  list-style: none;
  margin-right: 40px;
  font-size: 18px;
  color: #007984;
  font-weight: 500;
  display: flex;
  align-items: center;
}
/* customizing the list bullet */
li:before {
  content: "⬤";
  color: #ffbb0b;
  font-size: 15px;
  margin-right: 40px;
}

.midImage {
  /* width of 50% of the mid section */
  width: 50%;
  padding-left: 60px;
}
.midImage img {
  width: 100%;
  height: auto;
}
/* lowermid section containing individual numbers */
.lowerMid {
  width: 100%;
  display: flex;
  justify-content: center;
  /* position absolute to the wholemid section to place it above the image */
  position: absolute;
  bottom: 0;
  transform: translateY(75%);
}
.numbers {
  display: flex;
  /* width 85% of the total width of lowermid  */
  width: 90%;
  justify-content: space-evenly;
}
/* individual numbers section stylings */
.indiNumbers {
  /* width 25% - 25px for the margin space of the total width of numbers div  */
  width: calc(25% - 45px);
  display: flex;
  flex-direction: column;
  /* padding from all sides 20px */
  padding: 20px;
  /* box shadow outside every numbers block */
  box-shadow: 0px -10px 50px 1px rgba(0, 0, 0, 0.264);
  background-color: white;
}
.indiNumbers h2 {
  /* individual numbers heading stylings */
  font-size: 32px;
  font-family: ArialNarrow;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #007984;
}
.indiNumbers p {
  /* individual numbers paragraph stylings */
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 25px;
  color: #007984;
}
.indiNumbers .yellowLine {
  /* individual numbers yellow line stylings */
  width: 100%;
  margin-bottom: 5px;
}
/* individual numbers Hover effect */
.indiNumbers:hover {
  transition: all 0.4s ease-in;
  background-color: #007984;
}
.indiNumbers:hover h2 {
  /* individual numbers h2 Hover effect */
  transition: all 0.4s ease-in;
  color: #ffbb0b;
}
.indiNumbers:hover p {
  /* individual numbers p Hover effect */
  transition: all 0.4s ease-in;
  color: white;
}
.x1 {
  transform: translateY(10px) rotate(45deg);
  transition: 0.3s ease-in-out;
}
.x2 {
  opacity: 0%;
  transition: 0.3s ease-in-out;
}
.x3 {
  transform: translateY(-10px) rotate(-45deg);
  transition: 0.3s ease-in-out;
}
/* media query for screen size XXL */

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .mainHeading {
    font-size: 65px;
  }
  .underHeading {
    font-size: 14px;
    margin: 20px 0px;
  }
  .getStarted {
    font-size: 16px;
    padding: 15px 25px;
    margin-bottom: 30px;
  }
  li {
    font-size: 14px;
  }
  .indiNumbers h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .indiNumbers p {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
/* media query for screen size XL */

/* media query for screen size L */
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  .indiLink {
    font-size: 14px;
    margin-right: 20px;
  }
  .title {
    font-size: 36px;
  }
  .signInUp button {
    padding: 10px 25px;
    font-size: 14px;
  }
  .yellowLine {
    width: 50px;
    height: 4px;
  }
  .yellowLineText {
    font-size: 14px;
  }
  .mainHeading {
    font-size: 52px;
  }
  .underHeading {
    font-size: 12px;
    margin: 15px 0px;
  }
  .getStarted {
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 10px;
  }
  li {
    font-size: 12px;
  }
  .indiNumbers {
    padding: 15px;
  }
  .indiNumbers h2 {
    font-size: 22px;
    margin-bottom: 24px;
  }
  .indiNumbers p {
    font-size: 10px;
    margin-bottom: 16px;
  }
}
/* media query for screen size M */
@media (max-width: 992px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
  .indiLink {
    font-size: 12px;
    margin-right: 16px;
  }
  .title {
    font-size: 32px;
  }
  .signInUp button {
    padding: 10px 22px;
    font-size: 12px;
    margin-left: 10px;
  }
  .midContent {
    padding-top: 40px;
    padding-right: 20px;
  }
  .midImage {
    padding-left: 20px;
  }
  .yellowLine {
    width: 45px;
    height: 4px;
  }
  .yellowLineText {
    font-size: 12px;
  }
  .mainHeading {
    font-size: 46px;
  }
  .underHeading {
    font-size: 10px;
    margin: 14px 0px;
  }
  .getStarted {
    font-size: 10px;
    padding: 9px 16px;
    margin-bottom: 15px;
  }
  ul {
    margin-bottom: 6px;
  }
  li {
    font-size: 8px;
  }
  li::before {
    font-size: 12px;
  }
  .indiNumbers {
    padding: 10px;
    width: calc(25% - 25px);
  }
  .indiNumbers h2 {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .indiNumbers p {
    font-size: 10px;
    margin-bottom: 12px;
  }
  .indiNumbers .yellowLine {
    height: 3px;
    margin-bottom: 4px;
  }
}
/* media query for screen size S */
@media (max-width: 768px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
  .navbar {
    position: relative;
  }
  .hamburger {
    z-index: 2;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }
  .line {
    background-color: #007984;
    height: 5px;
    width: 38px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
  }

  .linkWrapperShow {
    position: fixed;
    background-color: #007984;
    top: 0;
    z-index: 1;
    height: 100dvh;
    width: 50dvw;
    left: -50%;
    transform: translateX(95%);
    transition: 0.3s ease-in-out;
  }
  .linkWrapper {
    position: fixed;
    background-color: #007984;
    top: 0;
    z-index: 1;
    height: 100dvh;
    width: 50dvw;
    left: -101%;
    transition: 0.3s ease-in-out;
  }
  .navLinks {
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .indiLink {
    font-size: 26px;
    color: white;
  }
  .signInUp {
    margin-left: auto;
  }
  .signInUp button {
    padding: 10px 20px;
    font-size: 12px;
  }
  .midSection {
    flex-direction: column;
  }
  .midContent {
    width: 100%;
    padding: 0;
  }
  .midImage {
    width: 100%;
    padding: 20px 90px;
  }
  .hide {
    display: block;
  }
  .yellowLine {
    width: 32%;
  }
  .topOfHeading {
    justify-content: space-between;
  }
  .mainHeading {
    text-align: center;
  }
  .underHeading {
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
  }
  .getStarted {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px 25px;
  }
  ul {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  li {
    font-size: 14px;
  }
  .numbers {
    flex-wrap: wrap;
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
  }
  .indiNumbers {
    width: calc(50% - 10px);
    margin: 10px 0;
    padding: 20px;
  }
  .indiNumbers h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .indiNumbers p {
    font-size: 12px;
    margin-bottom: 18px;
  }
  .indiNumbers .yellowLine {
    height: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 300px;
    margin: 0 auto;
  }
  .navbar {
    position: relative;
    padding: 16px 0 8px 0;
  }
  .hamburger {
    z-index: 2;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }
  .line {
    background-color: #007984;
    height: 5px;
    width: 38px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
  }

  .linkWrapperShow {
    position: fixed;
    background-color: #007984;
    top: 0;
    z-index: 1;
    height: 100dvh;
    width: 50dvw;
    left: -50%;
    transform: translateX(95%);
    transition: 0.3s ease-in-out;
  }
  .linkWrapper {
    position: fixed;
    background-color: #007984;
    top: 0;
    z-index: 1;
    height: 100dvh;
    width: 50dvw;
    left: -101%;
    transition: 0.3s ease-in-out;
  }
  .navLinks {
    padding-top: 80px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .indiLink {
    font-size: 14px;
    color: white;
  }
  .signInUp {
    margin-left: auto;
    flex-direction: column;
    gap: 5px;
  }

  .title {
    font-size: 30px;
  }
  .signInUp button {
    padding: 6px 16px;
    font-size: 8px;
    margin-left: 10px;
  }
  .upperMid {
    width: 100%;
  }
  .midSection {
    flex-direction: column;
  }
  .midContent {
    width: 100%;
    padding: 0;
  }
  .midImage {
    width: 100%;
    padding: 10px;
  }
  .hide {
    display: block;
  }
  .yellowLine {
    width: 22%;
  }
  .topOfHeading {
    justify-content: space-between;
  }
  .mainHeading {
    text-align: center;
    font-size: 36px;
    letter-spacing: normal;
  }
  .underHeading {
    font-size: 11px;
    text-align: justify;
    margin: 20px 0;
  }
  .getStarted {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 8px 20px;
  }
  ul {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  li {
    margin-right: 10px;
    font-size: 10px;
  }
  .lowerMid {
    width: 100%;
  }
  .numbers {
    flex-wrap: wrap;
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
  }
  .indiNumbers {
    width: calc(50% - 5px);
    margin: 10px 0;
    padding: 10px;
  }
  .indiNumbers h2 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .indiNumbers p {
    font-size: 8px;
    margin-bottom: 14px;
  }
  .indiNumbers .yellowLine {
    height: 5px;
    margin-bottom: 5px;
  }
}
