* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
header {
  background-color: #f6f6f6;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.navLinks {
  display: flex;
}
.indiLink {
  margin-right: 30px;
  color: #007984;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
.indiLink:hover {
  color: #ffbb0b;
}
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #007984;
  font-size: 42px;
}
.yellow {
  color: #ffbb0b;
}
.signInUp {
  display: flex;
}
.signInUp button {
  padding: 15px 35px;
  color: #007984;
  border: 0px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 20px;
  font-weight: 500;
  background-color: transparent;
}
.signInUp button:hover {
  background-color: #007984;
  color: white;
  transition: all 0.4s ease-in;
}
section {
  margin-bottom: 100px;
  background-color: #f6f6f6;
}
.wholeMid {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.midSection {
  display: flex;
  width: 100%;
}
.midContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 60px;
  padding-right: 60px;
}
.topOfHeading {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.yellowLine {
  width: 70px;
  height: 6px;
  background-color: #ffbb0b;
}
.yellowLineText {
  font-size: 18px;
  font-weight: 550;
  color: #007984;
  margin-left: 20px;
}
.mainHeading {
  font-family: "Arial Narrow";
  font-weight: 550;
  letter-spacing: -3px;
  text-transform: uppercase;
  font-size: 80px;
}
.underHeading {
  font-size: 18px;
  color: #007984;
  margin: 35px 0px;
  font-weight: 450;
}
.getStarted {
  padding: 15px 35px;
  background-color: white;
  color: #007984;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 500;
  width: fit-content;
  margin-bottom: 50px;
}
.getStarted:hover {
  color: white;
  background-color: #007984;
  transition: all 0.4s ease-in;
}
ul {
  display: flex;
  margin-bottom: 20px;
}

li:first-child::before {
  content: "";
  margin: 0px;
}
li {
  list-style: none;
  margin-right: 40px;
  font-size: 18px;
  color: #007984;
  font-weight: 500;
  display: flex;
  align-items: center;
}
li:before {
  content: "⬤";
  color: #ffbb0b;
  font-size: 15px;
  margin-right: 40px;
}

.midImage {
  width: 50%;
  padding-left: 60px;
}
.midImage img {
  width: 100%;
  height: auto;
}
.lowerMid {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  transform: translateY(75%);
}
.numbers {
  display: flex;
  width: 85%;
  justify-content: space-evenly;
}
.indiNumbers {
  width: calc(25% - 25px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0px -10px 50px 1px rgba(0, 0, 0, 0.264);
}
.primaryColor h2 {
  color: #007984;
}
.primaryColor p {
  color: #007984;
}
.primaryColor {
  background-color: white;
}
.secondaryColor {
  background-color: #007984;
}
.secondaryColor h2 {
  color: #ffbb0b;
}
.secondaryColor p {
  color: white;
}
.indiNumbers h2 {
  font-size: 38px;
  font-family: "Arial Narrow";
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.indiNumbers p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}
.indiNumbers .yellowLine {
  width: 100%;
  margin-bottom: 5px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}
@media (max-width: 1399px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .mainHeading {
    font-size: 65px;
  }
  .underHeading {
    font-size: 16px;
    margin: 30px 0px;
  }
  .getStarted {
    font-size: 16px;
    padding: 15px 25px;
    margin-bottom: 30px;
  }
  li {
    font-size: 16px;
  }
  .indiNumbers h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .indiNumbers p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 992px;
    margin: 0 auto;
  }
  .indiLink {
    font-size: 14px;
    margin-right: 20px;
  }
  .title {
    font-size: 36px;
  }
  .signInUp button {
    padding: 10px 25px;
    font-size: 14px;
  }
  .yellowLine {
    width: 50px;
    height: 4px;
  }
  .yellowLineText {
    font-size: 14px;
  }
  .mainHeading {
    font-size: 56px;
  }
  .underHeading {
    font-size: 12px;
    margin: 20px 0px;
  }
  .getStarted {
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  li {
    font-size: 12px;
  }
  .indiNumbers h2 {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .indiNumbers p {
    font-size: 10px;
    margin-bottom: 15px;
  }
}
